Repository dbt-labs/dbt-core, pull requests merged in 2025-06, with the labels that each got.

#11711 Ensure `build_after` is present in model freshness in parsing, otherwise skip freshness definition
  .changes/unreleased/Fixes-20250605-110645.yaml
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schemas.py
  tests/functional/model_config/test_freshness_config.py
Labels: cla:yes

#11719 Ensure source node `.freshness` is equal to node's `.config.freshness`
  .changes/unreleased/Fixes-20250609-175239.yaml
  core/dbt/artifacts/resources/v1/source_definition.py
  core/dbt/parser/sources.py
  tests/functional/artifacts/expected_manifest.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/parser/test_parser.py
Labels: cla:yes, artifact_minor_upgrade, backport 1.9.latest

#11721 Backport #11719 to 1.9.latest
  .changes/unreleased/Fixes-20250609-175239.yaml
  core/dbt/artifacts/resources/v1/source_definition.py
  core/dbt/parser/sources.py
  tests/functional/artifacts/expected_manifest.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/parser/test_parser.py
Labels: cla:yes, artifact_minor_upgrade

#11728 handle inline model freshness config
  .changes/unreleased/Fixes-20250610-211241.yaml
  core/dbt/artifacts/resources/v1/model.py
  tests/functional/model_config/test_freshness_config.py
Labels: cla:yes, artifact_minor_upgrade

#11730 move TestConfig.post_init logic to finalize_and_validate to respect hierarchical configs
  .changes/unreleased/Fixes-20250612-145159.yaml
  core/dbt/artifacts/resources/v1/config.py
  tests/functional/schema_tests/fixtures.py
  tests/functional/schema_tests/test_schema_v2_tests.py
Labels: cla:yes, artifact_minor_upgrade

#11729 deprecation warnings for --models, --model, -m
  .changes/unreleased/Features-20250611-160217.yaml
  core/dbt/cli/flags.py
  core/dbt/cli/main.py
  core/dbt/cli/requires.py
  core/dbt/deprecations.py
  core/dbt/events/types.py
  core/setup.py
  tests/functional/deprecations/test_deprecations.py
  tests/unit/test_events.py
Labels: cla:yes

#11731 drop model freshness as top level model property (in favor of config freshness)
  .changes/unreleased/Fixes-20250616-085600.yaml
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/context/context_config.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schemas.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/model_config/test_freshness_config.py
  tests/unit/contracts/graph/test_manifest.py
  tests/unit/parser/test_parser.py
Labels: cla:yes, artifact_minor_upgrade

#11743 Bump minimum jsonschema version to `4.19.1` (#11741)
  .changes/unreleased/Dependencies-20250616-144408.yaml
  core/setup.py
Labels: cla:yes

#11745 bring in latest properties yaml and dbt project yaml jsonschemas
  .changes/unreleased/Features-20250617-142516.yaml
  core/dbt/include/jsonschemas/project/0.0.110.json
  core/dbt/include/jsonschemas/resources/latest.json
Labels: cla:yes, backport 1.10.latest

#11762 bump dbt-common to 1.25.0 to access WarnErrorOptionsV2
  .changes/unreleased/Fixes-20250624-091258.yaml
  core/setup.py
Labels: cla:yes, backport 1.10.latest

#11765 bring in latest properties yaml and dbt project yaml jsonschemas
  core/dbt/include/jsonschemas/project/0.0.110.json
  core/dbt/include/jsonschemas/resources/latest.json
  core/dbt/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
  tests/functional/fixtures/happy_path_project/dbt_project.yml
  tests/functional/fixtures/happy_path_project/models/schema.yml
  tests/functional/fixtures/happy_path_project/tests/schema.yml
  tests/functional/list/test_list.py
Labels: cla:yes, Skip Changelog, backport 1.10.latest

#11778 use rename instead of select api for normalizing agate table column casing
  core/dbt/task/test.py
Labels: cla:yes, Skip Changelog

#11777 Fix broken adapters documentation link in ARCHITECTURE.md
  ARCHITECTURE.md
Labels: cla:yes, community
